<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= message.text %>
  </p>

    body:
  <p>
    <%= message.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Can close:</strong>
    <%= message.can_close %>
  </p>

</div>
