      <div class="text-sm mb-1 flex gap-1 items-center truncate text-ellipsis	">
        <img class="block w-5 h-5" src="https://www.google.com/s2/favicons?sz=64&domain_url=https://<%= event.venue.website %>" alt="">

        <%= event.venue.title %>

      </div>
