
  <p>Thanks for subscribing to weekly updates from <%= Rails.application.routes.default_url_options[:host] %></p>

  <p>Please confirm that you want this by clicking the link below:</p>

  <p>
    <%= link_to "Confirm my subscription", @confirmation_url %>
  </p>

  <p>If you did not request this subscription, please ignore this email.</p>
