<div id="<%= dom_id llm_job %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Prompt:</strong>
    <pre class="whitespace-pre-wrap break-words bg-gray-50 border border-gray-200 rounded p-3 text-sm font-mono text-gray-800"><%= llm_job.prompt %></pre>
  </div>
  <div>
    <strong class="block font-medium mb-1">Result:</strong>
    <pre class="whitespace-pre-wrap break-words bg-gray-50 border border-gray-200 rounded p-3 text-sm font-mono text-gray-800"><%= begin; JSON.pretty_generate(JSON.parse(llm_job.result)); rescue; llm_job.result; end %></pre>
  </div>
</div>
