<div id="<%= dom_id page %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= page.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= page.slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= page.body %>
  </div>
</div>
