<div class="crud">
  <% if notice.present? %>
    <div class="py-3 px-4 bg-green-50 mb-6 text-green-600 font-medium rounded-lg shadow-sm" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <div>
      <h1 class="font-bold text-4xl text-gray-800">New Sender</h1>
      <p class="text-gray-500 mt-1">Add a new email sender or recipient</p>
    </div>
    <%= link_to senders_path, class: "text-indigo-600 hover:text-indigo-900 font-medium flex items-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      Back to senders
    <% end %>
  </div>

  <div class="bg-white rounded-xl shadow-md overflow-hidden p-6 mb-8">
    <%= render "form", sender: @sender %>
  </div>

  <div class="flex">
    <%= link_to senders_path, class: "rounded-md py-2 px-4 bg-white border border-gray-300 text-gray-700 font-medium hover:bg-gray-50 transition-colors shadow-sm flex items-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
      Cancel
    <% end %>
  </div>
</div>
