<div id="<%= dom_id email_template %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Key:</strong>
    <%= email_template.key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <pre class="whitespace-pre-wrap text-sm font-mono bg-gray-50 rounded p-3 mt-1"><%= email_template.text %></pre>
  </div>
</div>
